.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background-color: #1f2937;
  color: #f9faf8;

  padding: 8px 15%;

  position: fixed;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.header-left {
  font-size: 24px;
  font-weight: 900;
}

.header ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

a {
  color: #e5e7eb;
  font-weight: 100;
  font-size: 18px;
  text-decoration: none;
}


