.socials-buttons {
    display: flex;  
    align-items: center;
    flex-wrap: wrap;
    margin: 16px 0;
    gap: 48px;
}

.image-slide {
    background-color: white;
    height: 250px;
    width: 300px;
}

